{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <!-- Favicon --> 
    <link rel="shortcut icon" type="image/png" href="{% static 'Blaze Icon.png' %}" />

    {% comment %}Personal{% endcomment %}
    <link href="{% static 'BlazeAdministration/BlazeAdministration_base_01.css' %}" rel="stylesheet" />
    {% block ExtraHeaders %}

    {% endblock %}
    <title>
      {% block title %}
        Blaze - Administration
      {% endblock %}
    </title>
  </head>

  <body>
    {% block navbar %}
      <div class="container-xxl">
        <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
          <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center justify-content-center" href="{% url 'BlazeAdministration:dashboard' %}">
              <img src="{% static 'BlazeApp/Blaze Logo.png' %}" alt="Logo" width="50px" height="auto" class="d-inline-block align-text-top" />
              <div class="ms-1 fs-4 fw-semibold text-body-emphasis">Blaze</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse z-3 navbar-collapse justify-content-lg-end fs-6" id="navbarNav">
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item text-center mx-2 my-auto">
                  <a class="nav-link btn border white-btn p-2" aria-current="page" href="{% url 'BlazeAdministration:dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item text-center mx-2 rounded">
                  <a class="nav-link" href="{% url 'BlazeAdministration:administration_logout' %}"><button class="col-12 btn btn-outline-dark">Logout</button></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    {% endblock %}

    <div class="container-xxl">
      {% block body %}

      {% endblock %}
    </div>
    
  </body>
</html>
