{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <!-- Favicon -->
    {% comment %} <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon - Icon.ico' %}" /> {% endcomment %}

    {% comment %}Personal{% endcomment %}
    <link href="{% static 'BlazeAdministration/base_01.css' %}" rel="stylesheet" />
    {% block ExtraHeaders %}
    {% endblock %}
    <title>
      {% block title %}
        Blaze - Administration
      {% endblock %}
    </title>
  </head>

  <body>
   
    {% block navbar %}
    <div class="container-xxl">
      <nav class="navbar bg-body-tertiary navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'BlazeAdministration:dashboard' %}">
            {% comment %} <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> {% endcomment %}
            Blaze 
          </a>
        </div>
      </nav>
    </div>
    {% endblock navbar %}

    <div class="container-xxl" style="min-height: 70vh;">
      {% block body %}

      {% endblock %}
    </div>

    {% comment %} {% block footer %}
      <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary" style=" background-color: #393939!important; color: white!important;">
        <div class="container py-2 py-md-3 px-4 px-md-3 text-body-secondary">
        
          <hr class="border border-light border-1 opacity-50" />

          

          <div class="row text-center" style="color: white!important; font-size: 0.8em;">
            <div>BLAZE, A project by team AAD.</div>
          </div>
        </div>
      </footer>
    {% endblock %} {% endcomment %}
  </body>
</html>
