{% extends 'BlazeAdministration/base_01.html' %}
{% load static %}

{% block title %}
  Blaze Administration - {{ model|title }}
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="h3 mt-4 mb-4">Data Entries of {{ model|title }}</div>
    <div class="container-fluid my-3 border pt-2">
      <table class="table table-hover">
        <thead>
          <tr>
            {% comment %} <th scope="col">#</th> {% endcomment %}
            <th scope="col">ID#</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            {% if model == 'student' %}
              <th scope="col">Department</th>
              <th scope="col">Batch</th>
              <th scope="col">NUID</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for data in dataset %}
            <tr>
              <td>{{ data.pk }}</td>
              <td>{{ data.user.username }}</td>
              <td>{{ data.user.first_name }} {{ data.user.last_name }}</td>
              <td>{{ data.user.email }}</td>
              {% if model == 'student' %}
                <td>{{ data.department }}</td>
                <td>{{ data.batch }}</td>
                <td>{{ data.nuid }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
