{% extends 'BlazeAdministration/base_01.html' %}
{% load static %}

{% block title %}
  BlazeAdministration Login Portal
{% endblock %}


{% block ExtraHeaders %}
  <style>
    body{
      background-color: #FFD2D3;
    }
  </style>
{% endblock %}
{% block navbar %}
{% endblock navbar %}


{% block body %}
  <div class="d-flex align-items-center my-5" style="background-color: #FFD2D3;">
    <div class="login-left-div d-none d-lg-flex align-items-center justify-content-center col-7">
      <div class="side-spline-container col-12">
        <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.475/build/spline-viewer.js"></script>
        <spline-viewer hint background="rgba(0,0,0,0)" loading-anim url="https://prod.spline.design/4ikZoClmGewUUWNb/scene.splinecode"></spline-viewer>
      </div>
      
    </div>
    <div class="login-right-div col col-lg-5 py-4 px-1 my-5">
        <div class="container-fluid col-9 col-sm-6 col-md-5 col-lg-9 col-xl-8 login-container rounded border py-3 px-4">
          <div class="login-heading fs-4 mb-2">Admin Login Portal</div>
          <div class="login-subtitle mb-3 text-center">👋 Welcome, Administrator! Access the admin portal to manage and oversee the system with ease. Your control hub awaits. 🚀</div>

          <div class="login-form-container col-12 py-2">
            <form method="post" action="{% url 'BlazeAdministration:administration_login' %}">
              {% csrf_token %} 
              <div class="input-field mb-2">
                <label for="id_username">Username</label>
                <div class="input-div rounded">
                  <div class="input-icon-div"><i class="bi bi-at"></i></div>
                  <input type="text" name="username" autofocus="true" placeholder="username" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                </div>
              </div>
              <div class="input-field mb-2">
                <label for="id_username">Password</label>
                <div class="input-div rounded">
                  <div class="input-icon-div" style="rotate: 140deg; transform: rotateX(175deg);"><i class="bi bi-key"></i></div>
                  <input type="password" name="password" placeholder="12Ka4" autocomplete="current-password" required="" id="id_password">
                </div>
              </div>
            
              {% if messages %}
                {% for message in  messages %}
                  <div class="alert alert-warning" role="alert">
                      {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
              <div class="mt-5 mb-2 px-2">
                <button class="dark-btn btn col-12">Login</button>
              </div>
            </form>
          </div>

        </div>
    </div>

  </div>
{% endblock %}