{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <!-- Favicon -->
    {% comment %} <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon - Icon.ico' %}" /> {% endcomment %}

    {% comment %}Personal{% endcomment %}
    <link href="{% static 'BlazeApp/base.css' %}" rel="stylesheet" />
    {% block ExtraHeaders %}

    {% endblock %}
    <title>
      {% block title %}
        {{ Blaze }}
      {% endblock %}
    </title>
  </head>

  <body>
    {% block navbar %}
      <div>Navbar</div>
      <a href="{% url 'BlazeApp:user_logout' %}"><button>Logout</button></a>
    {% endblock %}

    <div class="container-xxl">
      {% block body %}

      {% endblock %}
    </div>
  </body>
</html>
