{% extends 'BlazeApp/base.html' %}
{% load static %}

{% block title %}
  Create Thread
{% endblock %}

{% block ExtraHeaders %}
  <link rel="stylesheet" href="{% static 'BlazeApp/base2.css' %}" />
  <script>
    function autoResize(textarea) {
      textarea.style.height = 'auto' // Reset the height to auto to calculate the new height
      textarea.style.height = textarea.scrollHeight + 'px' // Set the height to the calculated scroll height
    }
  </script>
  <style>
    .efi {
      outline: none;
      transition: 0.2s ease-in-out;
    }
    .efi:focus {
      border: 1px solid #393939 !important;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="content-d border border-top-0 border-bottom-0 border-end-0 col">
    <div class="create-post bg-light-subtle text-body-emphasis mt-3 mb-4 mx-5 border rounded user-select-none overflow-hidden">
      <div class="h5 p-3 mb-0 border-bottom">Create New Thread</div>
      <div class="col col-md-11 col-lg-9 p-3 mx-auto">
        <form action="{% url 'BlazeApp:create_thread' %}" method="post">
          {% csrf_token %}

          <div class="row mt-4 mb-1">
            <div class="d-flex flex-wrap align-items-center">
              <div class="fs-5 me-4 mb-2 col-12 col-lg-3">Title</div>
              {{ question_form.title }}
            </div>
            <div>
              <div class="fs-5 mt-3 me-4 mb-2">Description</div>
              {{ question_form.description }}
            </div>
          </div>

          <div class="row mt-3 mb-1">
            <div class="d-flex flex-wrap align-items-center mb-4">
              <div class="fs-5 me-4 mb-2 col-12 col-lg-3">Category</div>
              {{ question_form.category }}
            </div>
          </div>
          {% if question_form.errors %}
            <div class="alert alert-warning" style="font-size: 0.8rem;" role="alert">
              {% for field, errors in question_form.errors.items %}
                <strong>{{ field|title }}:</strong> {{ errors|join:', ' }}<br />
              {% endfor %}
            </div>
          {% endif %}
          <button type="submit" class="btn btn-dark mt-3">Post Thread ✨</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
