{% extends 'BlazeApp/base.html' %}
{% load static %}

{% block title %}
  Create Event
{% endblock %}

{% block ExtraHeaders %}
  <link rel="stylesheet" href="{% static 'BlazeApp/base2.css' %}" />
  <script src="{% static 'BlazeApp/post_01.js' %}"></script>
  <style>
    .efi {
      outline: none;
      transition: 0.2s ease-in-out;
    }
    .efi:focus {
      border: 1px solid #393939 !important;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="content-d border border-top-0 border-bottom-0 border-end-0 col">
    <div class="create-post bg-light-subtle text-body-emphasis mt-3 mb-4 mx-5 border rounded user-select-none overflow-hidden">
      <div class="h5 p-3 mb-0 border-bottom">Create Event</div>
      <div class="col col-md-11 col-lg-9 p-3 mx-auto">
        <form enctype="multipart/form-data" action="{% url 'BlazeApp:create_event' %}" method="post">
          {% csrf_token %}

          <div class="row">
            <div class="fs-5">Banner</div>
            <div id="image-preview" class="my-3"></div>

            <div class="post-image-input col-12 bg-body-tertiary border rounded">
              {{ event_form.banner }}
              <div class="d-flex flex-column align-items-center text-body-emphasis m-3 p-1">
                <div class="fs-4 d-flex align-items-center justify-content-center border" style="width: 2.7rem; height: 2.7rem; border-radius: 50%; border-color: var(--bs-emphasis-color)!important;">
                  <i class="bi bi-file-plus"></i>
                </div>
                <div class="fs-6 mt-1">Add Banner/Cover</div>
                <div style="font-size: 0.8rem;">or drag and drop</div>
              </div>
            </div>
          </div>
          <div class="row mt-4 mb-1">
            <div class="d-flex align-items-center">
              <div class="fs-5 me-4 col-3">Title</div>
              {{ event_form.title }}
            </div>
            <div>
              <div class="fs-5 mt-3 me-4 mb-2">Description</div>
              {{ event_form.description }}
            </div>
          </div>
          <div class="row mt-4 mb-1">
            <div class="d-flex align-items-center mb-4">
              <div class="fs-5 me-4 col-3">Start Date</div>
              {{ event_form.start_date }}
            </div>

            <div class="d-flex align-items-center mb-3">
              <div class="fs-5 me-4 col-3">End Date</div>
              {{ event_form.end_date }}
            </div>
          </div>
          <div class="row mt-3 mb-1">
            <div class="d-flex align-items-center mb-4">
              <div class="fs-5 me-4 col-3">Venue</div>
              {{ event_form.venue }}
            </div>

            <div class="d-flex align-items-center mb-3">
              <div class="fs-5 me-4 col-3">Time</div>
              {{ event_form.time }}
            </div>
          </div>
          {% if event_form.errors %}
            <div class="alert alert-warning" style="font-size: 0.8rem;" role="alert">
              {% for field, errors in event_form.errors.items %}
                <strong>{{ field|title }}:</strong> {{ errors|join:', ' }}<br />
              {% endfor %}
            </div>
          {% endif %}
          <button type="submit" class="btn btn-dark mt-3">Create New Event 🌟✨</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
