{% extends 'BlazeApp/base.html' %}
{% load static %}

{% block title %}
  Blaze Events
{% endblock %}

{% block ExtraHeaders %}
  {% comment %} <link href="{% static 'BlazeApp/login.css' %}" rel="stylesheet" /> {% endcomment %}
  <style>
    .event-view-d {
      position: absolute;
      right: 3px;
      top: 3px;
    }
    .event-view-d button::before {
      content: none !important;
    }
    
    .event-view-d .dropdown-item:active {
      background-color: #393939;
      color: white !important;
    }
    #en {
      -webkit-line-clamp: 2;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="content-d border border-top-0 border-bottom-0 border-end-0 col">
    <div class="bg-body-tertiary text-body-emphasis border rounded m-3" style="height: max-content;">
      <div class="fs-3 p-3" style="height: max-content;">Experience the Thrill of Ongoing Events 🌟</div>
      <div class="fs-6 px-3 pt-2 pb-3" style="height: max-content;">Dive into ongoing events! From engaging lectures to fun workshops, find your interests below. Discover, learn, and have a great time! 🚀✨</div>
    </div>

    <div class="d-flex flex-column flex-wrap border-dark m-2 px-2 pt-1 pb-5" style="min-height: 80vh!important; height: max-content!important;">
      {% if event_instances %}
        {% for event in event_instances %}
          <div class="d-flex flex-wrap bg-body-tertiary text-body-emphasis overflow-hidden border border-dark-subtle col-12 col-lg-11 rounded position-relative mt-1 mb-3" style="height: max-content;">
            <div class="btn-group dropstart event-view-d">
              <button type="button" class="btn text-night dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'BlazeApp:view_event' event.pk %}" class="dropdown-item">View event details</a>
                </li>
                {% if event.poster == request.user %}
                  <li>
                    <form action="{% url 'BlazeApp:delete_event' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="event_id" value="{{ event.pk }}" />
                      <button type="submit" class="dropdown-item text-danger">Delete this event</button>
                    </form>
                  </li>
                {% endif %}
              </ul>
            </div>

            <div class="d-flex flex-wrap justify-content-center align-items-center bg-body-secondary col-12 col-sm-4 fw-light p-3">
              <div style="font-size: 6rem; line-height: 1.2;">{{ event.start_date|date:'d' }}</div>
              <div>{{ event.start_date|date:'M' }}</div>
            </div>
            <div class="d-flex flex-column justify-content-center col-12 col-sm-8 py-3 ps-4 pe-3">
              <div id="en" class="fs-2">
                <a href="{% url 'BlazeApp:view_event' event.pk %}" class="text-body-emphasis">{{ event.title }}</a>
              </div>
              <div class="fs-6 mt-3">
                <a href="{% url 'BlazeApp:profile' event.poster.pk %}" class="text-secondary">{{ event.poster.first_name }} {{ event.poster.last_name }}</a>
              </div>
              <div class="d-flex">
                <div class="text-body-emphasis mt-1 me-3">
                  <i class="text-danger bi bi-heart-fill"></i>
                  <span>{{ event.like_count }}</span>
                </div>
                <div class="text-body-emphasis mt-1 me-3">
                  <i class="text-primary bi bi-chat-square-text-fill"></i>
                  <span>{{ event.comment_count }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="border rounded bg-body-tertiary text-body-emphasis col-11 m-4" style="height: max-content;">
          <div class="d-flex justify-content-center align-items-center flex-column my-2 p-3" style="height: max-content;">
            <div class="lead mt-2 mb-3">Oops! No Events Found 😕</div>
            <div class="fs-6 mb-2">Currently, there are no events available. Stay tuned for updates and explore other amazing features on our platform! 🌟</div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
