{% extends 'BlazeApp/base.html' %}
{% load static %}
{% block title %}
  Forum Topics
{% endblock %}

{% block ExtraHeaders %}
  <link rel="stylesheet" href="{% static 'BlazeApp/base2.css' %}" />
  <style>
    #f-content {
      -webkit-line-clamp: 5;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="content-d border border-top-0 border-bottom-0 border-end-0 col py-4 px-3" style="height: max-content; ">
    <div class="dd1 mx-auto">
      <div class="fs-5 p-2 bg-primary-subtle border border-primary rounded mb-3 text-body-emphasis">
        Searched for topic: <span class="text-primary">{{ topic }}</span>
      </div>
      <!-- Rendering threads on the user forum -->
      {% if questions %}
        {% for question in questions %}
          <div class="post-d bg-light-subtle mb-4 p-3 border border-dark-subtle rounded text-body-emphasis" data-qid="{{ question.pk }}" style="height: max-content;">
            <div class="text-body-emphasis fw-semibold lead mx-1 mt-1 mb-3 text-break text-truncate">{{ question.title }}</div>
            <!-- header -->
            <div class="d-flex mb-3" style="height: 4rem;">
              <div class="d-flex align-items-center col text-body-emphasis user-select-none">
                <a href="{% url 'BlazeApp:profile' question.poster.pk %}" class="me-3 my-1">
                  <div class="d-flex justify-content-center align-items-center" style="border: 2px solid black; border-radius: 50%; padding: 2px; border-color: {{ question.poster.ring_color }}!important; width:3.2rem; height:3.2rem">
                    <div class="post-d-profile-pic">
                      <img src="{{ question.poster.profile_picture.url }}" class="img-fluid" alt="poster profile picture" />
                    </div>
                  </div>
                </a>
                <div>
                  <a href="{% url 'BlazeApp:profile' question.poster.pk %}"><div class="text-body-emphasis text-truncate">{{ question.poster.first_name }} {{ question.poster.last_name }}</div></a>
                  <div class="post-d-timestamp text-secondary">{{ question.timestamp }}</div>
                </div>
              </div>
              <div class="d-flex justify-content-end align-items-center user-select-none">
                {% with color_scheme=question.get_category_color_scheme %}
                  <div class="border border-{{ color_scheme }} bg-{{ color_scheme }}-subtle text-{{ color_scheme }} mx-2 px-2 py-1 rounded-2" style="width: max-content;">{{ question.category }}</div>
                {% endwith %}
              </div>
            </div>
            <!-- content -->
            <div id="f-content" class="text-body-emphasis fs-6 m-1 user-select-none">{{ question.description|linebreaks }}</div>
            <!-- footer -->
            <div class="d-flex justify-content-between align-items-center mt-3 user-select-none" style="height: max-content;">
              <a href="{% url 'BlazeApp:view_thread' question.pk %}">
                <div class="d-flex border rounded-5 px-3 py-2 bg-dark-subtle" style="--bs-border-color: var(--bs-emphasis-color); --bs-bg-hover-color:var(--bs-gray-500);height: max-content; width: max-content;">
                  <div class="text-body-emphasis">
                    <i class="bi bi-chat-fill me-3"></i>
                  </div>
                  <div class="text-body-emphasis fs-6">Add Response</div>
                </div>
              </a>
              <div class="d-flex justify-content-end align-items-center">
                <div class="fw-semibold p-2" style="font-size: 0.8rem;">
                  <span>{{ question.answers_count }}</span>
                  {% if question.answers_count == 1 %}
                    <span>Answer</span>
                  {% else %}
                    <span>Answers</span>
                  {% endif %}
                </div>-<div class="fw-semibold p-2" style="font-size: 0.8rem;">
                  <span>{{ question.replies_count }}</span>
                  {% if question.replies_count == 1 %}
                    <span>Reply</span>
                  {% else %}
                    <span>Replies</span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="border-top mt-5" style="height: 50vh;">
          <div class="border rounded bg-body-tertiary text-body-emphasis col-12 my-5" style="height: max-content;">
            <div class="d-flex justify-content-center align-items-center flex-column my-2 p-3" style="height: max-content;">
              <div class="lead mt-2 mb-3">Ara Ara! Minasan wa dokodesu ka</div>
              <div class="fs-6 mb-2">Our threads are watching anime at the moment! So kindly visit later. Sayonara</div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="minisidebar-d d-none d-lg-block text-body-emphasis" style="height: max-content;min-width: 10rem;">
    <div class="mt-4 border bg-body-tertiary rounded p-3">
      <div class="lead mx-2 mb-3">Filter by Topics</div>
      <div class="d-flex flex-wrap">
        <a href="{% url 'BlazeApp:forum_topics' 'Programming' %}" class="m-2"><div class="border border-primary bg-primary-subtle text-primary px-2 py-1 rounded-2" style="width: max-content;">Programming</div></a>
        <a href="{% url 'BlazeApp:forum_topics' 'Academics' %}" class="m-2"><div class="border border-secondary bg-secondary-subtle text-secondary px-2 py-1 rounded-2" style="width: max-content;">Academics</div></a>
        <a href="{% url 'BlazeApp:forum_topics' 'Thoughts' %}" class="m-2"><div class="border border-success bg-success-subtle text-success px-2 py-1 rounded-2" style="width: max-content;">Thoughts</div></a>
        <a href="{% url 'BlazeApp:forum_topics' 'Social Issues' %}" class="m-2"><div class="border border-danger bg-danger-subtle text-danger px-2 py-1 rounded-2" style="width: max-content;">Social Issues</div></a>
        <a href="{% url 'BlazeApp:forum_topics' 'Events and Meetups' %}" class="m-2"><div class="border border-warning bg-warning-subtle text-warning px-2 py-1 rounded-2" style="width: max-content;">Events and Meetups</div></a>
        <a href="{% url 'BlazeApp:forum_topics' 'Personal Development' %}" class="m-2"><div class="border border-info bg-info-subtle text-info px-2 py-1 rounded-2" style="width: max-content;">Personal Development</div></a>
        <a href="{% url 'BlazeApp:forum_topics' 'Miscellaneous' %}" class="m-2"><div class="border border-danger bg-danger-subtle text-danger px-2 py-1 rounded-2" style="width: max-content;">Miscellaneous</div></a>
      </div>
    </div>
  </div>
{% endblock %}
