{% extends 'BlazeApp/base.html' %}
{% load static %}

{% block title %}
  Blaze Forum
{% endblock %}

{% block ExtraHeaders %}
  <link rel="stylesheet" href="{% static 'BlazeApp/base2.css' %}" />
  <style>
    #f-content {
      -webkit-line-clamp: 5;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="content-d border border-top-0 border-bottom-0 border-end-0 col py-4 px-3" style="height: max-content; ">
    <div class="dd1 mx-auto">
      <div class="create-post bg-light-subtle text-body-emphasis mb-4 border border-dark-subtle rounded user-select-none overflow-hidden">
        <div class="h5 p-3 mb-0 border-bottom">Add a new Thread</div>
        <a href="{% url 'BlazeApp:create_thread' %}">
          <div class="d-flex align-items-center bg-scheme text-secondary p-3">
            <div class="create-post-pp col-1">
              <img src="{{ user.profile_picture.url }}" alt="profile picture" />
            </div>
            <div class="fs-6 col text-body-emphasis mx-3" style="opacity: 0.7;">Got some questions or problems? Let's community help you</div>
            <div class="text-body-emphasis fs-3 col-1" style="opacity: 0.7;">
              <i class="bi bi-patch-plus-fill"></i>
            </div>
          </div>
        </a>
      </div>

      <!-- Rendering threads on the user forum -->
      {% if questions %}
        {% for question in questions %}
          <div class="post-d bg-light-subtle mb-4 p-3 border border-dark-subtle rounded text-body-emphasis" data-qid="{{ question.pk }}" style="height: max-content;">
            <div class="text-body-emphasis fw-semibold lead mx-1 mt-1 mb-3 text-break text-truncate">{{ question.title }}</div>
            <!-- header -->
            <div class="d-flex mb-3" style="height: 4rem;">
              <div class="d-flex align-items-center col text-body-emphasis user-select-none">
                <a href="#">
                  <div class="d-flex justify-content-center align-items-center me-3 my-1" style="border: 2px solid black; border-radius: 50%; padding: 2px; border-color: {{ question.poster.ring_color }}!important; width:3.2rem; height:3.2rem">
                    <div class="post-d-profile-pic">
                      <img src="{{ question.poster.profile_picture.url }}" class="img-fluid" alt="poster profile picture" />
                    </div>
                  </div>
                </a>
                <div>
                  <div class="text-truncate">{{ question.poster.first_name }} {{ question.poster.last_name }}</div>
                  <div class="post-d-timestamp text-secondary">{{ question.timestamp }}</div>
                </div>
              </div>
              <div class="d-flex justify-content-end align-items-center user-select-none">
                {% with color_scheme=question.get_category_color_scheme %}
                  <div class="border border-{{ color_scheme }} bg-{{ color_scheme }}-subtle text-{{ color_scheme }} mx-2 px-2 py-1 rounded-2" style="width: max-content;">{{ question.category }}</div>
                {% endwith %}
              </div>
            </div>
            <!-- content -->
            <div id="f-content" class="text-body-emphasis fs-6 m-1 user-select-none">{{ question.description|linebreaks }}</div>
            <!-- footer -->
            <div class="d-flex justify-content-between align-items-center mt-3 user-select-none" style="height: max-content;">
              <a href="{% url 'BlazeApp:view_thread' question.pk %}">
                <div class="d-flex border rounded-5 px-3 py-2 bg-dark-subtle" style="--bs-border-color: var(--bs-emphasis-color); --bs-bg-hover-color:var(--bs-gray-500);height: max-content; width: max-content;">
                  <div class="text-body-emphasis">
                    <i class="bi bi-chat-fill me-3"></i>
                  </div>
                  <div class="text-body-emphasis fs-6">Add Response</div>
                </div>
              </a>
              <div class="d-flex justify-content-end align-items-center">
                <div class="fw-semibold p-2" style="font-size: 0.8rem;">
                  <span>{{ question.answers_count }}</span>
                  {% if question.answers_count == 1 %}
                    <span>Answer</span>
                  {% else %}
                    <span>Answers</span>
                  {% endif %}
                </div>-<div class="fw-semibold p-2" style="font-size: 0.8rem;">
                  <span>{{ question.replies_count }}</span>
                  {% if question.replies_count == 1 %}
                    <span>Reply</span>
                  {% else %}
                    <span>Replies</span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="border-top mt-5" style="height: 50vh;">
          <div class="border rounded bg-body-tertiary text-body-emphasis col-12 my-5" style="height: max-content;">
            <div class="d-flex justify-content-center align-items-center flex-column my-2 p-3" style="height: max-content;">
              <div class="lead mt-2 mb-3">Ara Ara! Minasan wa dokodesu ka</div>
              <div class="fs-6 mb-2">Our threads are watching anime at the moment! So kindly visit later. Sayonara</div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="minisidebar-d border border-dark col-3 d-none d-lg-block text-body-emphasis" style="height: 10rem;">HHKH</div>
{% endblock %}
