{% extends 'BlazeApp/base.html' %}
{% load static %}

{% block title %}
  Blaze Forum
{% endblock %}

{% block ExtraHeaders %}
  <link rel="stylesheet" href="{% static 'BlazeApp/base2.css' %}" />
{% endblock %}

{% block content %}
  {% comment %} <div class="content-d border border-top-0 border-bottom-0 border-end-0 col"> {% endcomment %}
  <div class="content-d border border-danger  col" style="height: 40rem;">
    <div class="dd1 mx-auto">
      <div class="create-post bg-light-subtle text-body-emphasis mb-4 border border-dark-subtle rounded user-select-none overflow-hidden">
        <div class="h5 p-3 mb-0 border-bottom">Add a new Thread</div>
        <a href="{% url 'BlazeApp:create_thread' %}">
          <div class="d-flex align-items-center bg-scheme text-secondary p-3">
            <div class="create-post-pp col-1">
              <img src="{{ user.profile_picture.url }}" alt="profile picture" />
            </div>
            <div class="fs-6 col text-body-emphasis mx-3" style="opacity: 0.7;">Got some questions or problems? Let's community help you</div>
            <div class="text-body-emphasis fs-3 col-1" style="opacity: 0.7;">
              <i class="bi bi-patch-plus-fill"></i>
            </div>
          </div>
        </a>
      </div>
      

      <!-- Rendering threads on the user forum -->
      <div class="post-d bg-light-subtle mb-4 pt-1 border border-dark-subtle rounded text-body-emphasis" data-eid="1" style="height: 10rem;">

      </div>
    </div>
    </div>
  <div class="minisidebar-d border border-dark col-3 d-none d-lg-block text-body-emphasis" style="height: 10rem;">HHKH</div>
{% endblock %}
