{% extends 'BlazeApp/base.html' %}
{% load static %}
{% block ExtraHeaders %}
  <link rel="stylesheet" href="{% static 'BlazeApp/base2.css' %}" />
  <script src="{% static 'BlazeApp/post_01.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="content-d border border-top-0 border-bottom-0 col-lg-7 col py-4 px-3">
    <div class="dd1 mx-auto">
      {% if request.user.is_society %}
        <div class="create-post bg-light-subtle text-body-emphasis mb-4 border border-dark-subtle rounded user-select-none overflow-hidden">
          <div class="h5 p-3 mb-0 border-bottom">Create Event</div>
          <a href="{% url 'BlazeApp:create_event' %}">
            <div class="d-flex align-items-center bg-scheme p-3">
              <div class="fs-6 col text-body-emphasis mx-3">Craft unforgettable moments! Create society events that leave a lasting impression 🎉✨</div>
            </div>
          </a>
        </div>
      {% endif %}

      <div class="create-post bg-light-subtle text-body-emphasis mb-4 border border-dark-subtle rounded user-select-none overflow-hidden">
        <div class="h5 p-3 mb-0 border-bottom">Create Post</div>
        <div class="d-flex align-items-center bg-scheme text-secondary p-3" data-bs-toggle="modal" data-bs-target="#createPost">
          <div class="create-post-pp col-1">
            <img src="{{ user.profile_picture.url }}" alt="profile picture" />
          </div>
          <div class="fs-6 col text-body-emphasis mx-3" style="opacity: 0.7;">What's on your mind?</div>
          <div class="text-body-emphasis fs-3 col-1" style="opacity: 0.7;">
            <i class="bi bi-images"></i>
          </div>
        </div>

        <!-- Create Post Modal -->
        <div class="modal fade" id="createPost" tabindex="-1" aria-labelledby="createPostLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content bg-light-subtle text-body-emphasis">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form enctype="multipart/form-data" action="{% url 'BlazeApp:newsfeed' %}" method="post">
                  {% csrf_token %}

                  {{ post_form.content }}
                  {% if post_form.content.errors %}
                    <div class="alert alert-warning" style="font-size: 0.8rem;" role="alert">
                      {% for error in post_form.content.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}
                  <div id="image-preview" class="my-3"></div>

                  <div class="post-image-input col-12 bg-body-tertiary border rounded">
                    {{ post_form.picture }}
                    <div class="d-flex flex-column align-items-center text-body-emphasis m-3 p-1">
                      <div class="fs-4 d-flex align-items-center justify-content-center border" style="width: 2.7rem; height: 2.7rem; border-radius: 50%; border-color: var(--bs-emphasis-color)!important;">
                        <i class="bi bi-file-plus"></i>
                      </div>
                      <div class="fs-6 mt-1">Add Photos</div>
                      <div style="font-size: 0.8rem;">or drag and drop</div>
                    </div>
                  </div>
                  {% if post_form.picture.errors %}
                    <div class="alert alert-warning" style="font-size: 0.8rem;" role="alert">
                      {% for error in post_form.picture.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}

                  <button type="submit" class="btn btn-dark border col-12 mt-3">Post</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Rendering post on the newsfeed -->
      {% if newsfeed_posts %}
        {% for post in newsfeed_posts %}
          <div class="post-d bg-light-subtle mb-4 pt-1 border border-dark-subtle rounded text-body-emphasis" data-pid="{{ post.pk }}">
            <div class="post-header d-flex align-items-center justify-content-between pt-2 pb-1 px-2">
              <div class="d-flex">
                <a href="{% url 'BlazeApp:profile' post.poster.pk %}">
                  <div class="ms-2 me-3 my-1" style="border: 2px solid black; border-radius: 50%; padding: 2px; border-color: {{ post.poster.ring_color }}!important;">
                    <div class="post-d-profile-pic">
                      <img src="{{ post.poster.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
                    </div>
                  </div>
                </a>
                <div class="d-flex flex-column justify-content-center text-truncate">
                  <a href="{% url 'BlazeApp:profile' post.poster.pk %}"><div class="text-body-emphasis">{{ post.poster.first_name }} {{ post.poster.last_name }}</div></a>
                  <div class="post-d-timestamp text-secondary">{{ post.timestamp }}</div>
                </div>
              </div>
              <div class="btn-group dropstart post-delete-d">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url 'BlazeApp:view_post' post.pk %}" class="dropdown-item">View this post</a>
                  </li>
                  {% if post.poster == request.user %}
                    <li>
                      <form action="{% url 'BlazeApp:delete_post' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.pk }}" />
                        <button type="submit" class="dropdown-item text-danger">Delete this post</button>
                      </form>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            <div class="post-material p-3">
              {{ post.content|linebreaks }}
              {% if post.picture %}
                <div class="post-d-pic mt-3 rounded">
                  <img src="{{ post.picture.url }}" alt="post-image" />
                </div>
              {% endif %}
              {% if post.original_post %}
                <div class="post-d mb-2 pt-1 border rounded">
                  <div class="post-header d-flex align-items-center justify-content-between pt-2 pb-1 px-2">
                    <div class="d-flex">
                      <a href="{% url 'BlazeApp:profile' post.original_post.poster.pk %}">
                        <div class="ms-2 me-3 my-1" style="border: 2px solid black; border-radius: 50%; padding: 2px; border-color: {{ post.original_post.poster.ring_color }}!important;">
                          <div class="post-d-profile-pic">
                            <img src="{{ post.original_post.poster.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
                          </div>
                        </div>
                      </a>
                      <div class="d-flex flex-column justify-content-center text-truncate">
                        <a href="{% url 'BlazeApp:profile' post.original_post.poster.pk %}"><div class="text-body-emphasis">{{ post.original_post.poster.first_name }} {{ post.original_post.poster.last_name }}</div></a>
                        <div class="post-d-timestamp text-secondary">{{ post.original_post.timestamp }}</div>
                      </div>
                    </div>
                    <div class="btn-group dropstart post-delete-d">
                      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="{% url 'BlazeApp:view_post' post.original_post.pk %}" class="dropdown-item">View this post</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="post-material p-3">
                    {{ post.original_post.content|linebreaks }}
                    {% if post.original_post.picture %}
                      <div class="post-d-pic mt-3 rounded">
                        <img src="{{ post.original_post.picture.url }}" alt="post-image" />
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="post-footer col-12">
              <div class="d-flex justify-content-between border-bottom text-secondary px-3 py-1 user-select-none">
                <div class="d-flex">
                  <div class="ms-1 me-2">
                    <i class="text-danger bi bi-heart-fill"></i>
                    <span id="postLikedNum" class="text-body-emphasis">{{ post.like_count }}</span>
                  </div>
                  <div class="ms-1 me-2">
                    <i class="text-primary bi bi-chat-square-text-fill"></i>
                    <span id="postCommentsNum" class="text-body-emphasis">{{ post.comment_count }}</span>
                  </div>
                  <div class="ms-1 me-2">
                    <i class="text-warning bi bi-upload"></i>
                    <span id="postSharedNum" class="text-body-emphasis">{{ post.share_count }}</span>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="ms-1 me-2">
                    <i class="text-dark-emphasis bi bi-bookmark-fill"></i>
                    <span id="postSavedNum" class="text-body-emphasis">{{ post.saved_count }}</span>
                  </div>
                </div>
              </div>
              <div class="post-interactions">
                <div class="post-interaction-item bg-scheme text-body-emphasis post-like-btn col p-1 user-select-none">
                  <i class="fs-5 m-1 bi bi-heart"></i>
                  <div class="d-none d-md-block ms-3 fs-6">Likes</div>
                </div>
                <a href="{% url 'BlazeApp:view_post' post.pk %}" class="col user-select-none">
                  <div class="post-interaction-item bg-scheme text-body-emphasis col p-1 user-select-none">
                    <i class="fs-5 m-1 bi bi-chat-square-text"></i>
                    <div class="d-none d-md-block ms-3 fs-6">Comments</div>
                  </div>
                </a>
                <a href="{% url 'BlazeApp:share_post' post.pk %}" class="col user-select-none">
                  <div class="post-interaction-item bg-scheme text-body-emphasis col p-1 user-select-none">
                    <i class="fs-5 m-1 bi bi-upload"></i>
                    <div class="d-none d-md-block ms-3 fs-6">Share</div>
                  </div>
                </a>
                <div class="post-interaction-item bg-scheme text-body-emphasis post-save-btn col p-1 user-select-none">
                  <i class="fs-5 m-1 bi bi-bookmark"></i>
                  <div class="d-none d-md-block ms-3 fs-6">Saved</div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="border-top mt-5" style="height: 50vh;">
          <div class="border rounded bg-body-tertiary text-body-emphasis col-12 my-5" style="height: max-content;">
            <div class="d-flex justify-content-center align-items-center flex-column my-2 p-3" style="height: max-content;">
              <div class="lead mt-2 mb-3">Oh no! The post-o-meter is on a coffee break! ☕️</div>
              <div class="fs-6 mb-2">Looks like the posts are playing hide and seek. Ready or not, here you don't see them! 😅</div>
              <div class="fs-6 mb-2">Why not give the search bar a spin? Maybe the posts are having a secret party there! 🎉</div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="minisidebar-d border-start d-none col d-lg-block">
    <div class="minisidebar-event-d m-2 p-1">
      <div class="lead fw-bold mt-2 mb-3 px-3">Upcoming Events</div>
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="minisidebar-event-item col-11 mx-auto px-4 pt-1 pb-3 text-light rounded">
              <div class="mb-5">
                <div style="font-size: 3rem;">
                  07<span class="fs-6">Thursday</span>
                </div>
                <div class="fs-5">Dec 2024</div>
                <div class="fs-6">Timing: 12:00</div>
              </div>
              <div style="font-size: 0.9rem;">
                <span class="fw-semibold">Open House</span>
                by
                <span>Miss Anam</span>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="minisidebar-event-item col-11 mx-auto px-4 pt-1 pb-3 text-light rounded">
              <div class="mb-5">
                <div style="font-size: 3rem;">
                  25<span class="fs-6">Monday</span>
                </div>
                <div class="fs-5">Dec 2024</div>
                <div class="fs-6">Timing: 21:00</div>
              </div>
              <div style="font-size: 0.9rem;">
                <span class="fw-semibold">Christmas Party</span>
                by
                <span>Blaze Developers</span>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="minisidebar-event-item col-11 mx-auto px-4 py-5 text-light rounded">Follow society to keep your eyes on upcoming events</div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
