{% extends 'BlazeApp/base.html' %}
{% load static %}
{% block ExtraHeaders %}
  <link rel="stylesheet" href="{% static 'BlazeApp/base2.css' %}" />
  <script src="{% static 'BlazeApp/newsfeed.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="content-d border border-top-0 border-bottom-0 col-lg-7 col py-4 px-3">
    <div class="dd1 mx-auto">
      <div class="create-post mb-4 border border-dark-subtle rounded user-select-none overflow-hidden">
        <div class="h5 p-3 mb-0 border-bottom">Create post</div>
        <div class="d-flex align-items-center text-secondary p-3 create-post-d" data-bs-toggle="modal" data-bs-target="#createPost">
          <div class="create-post-pp col-1">
            <img src="{{ user.profile_picture.url }}" alt="profile picture" />
          </div>
          <div class="fs-6 col text-body-tertiary mx-3">What's on your mind?</div>
          <div class="fs-3 col-1">
            <i class="bi bi-images"></i>
          </div>
        </div>

        <!-- Create Post Modal -->
        <div class="modal fade" id="createPost" tabindex="-1" aria-labelledby="createPostLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form enctype="multipart/form-data" action="#" method="post">
                  <textarea class="my-2 p-2 col-12" placeholder="Write something" id="post-content" name="post-content" rows="1" oninput="autoResize(this)"></textarea><br />
                  <div id="image-preview" class="my-3"></div>
                  <div class="post-image-input col-12 bg-body-tertiary border rounded">
                    <input type="file" id="image-upload" name="image" accept="image/*" onchange="previewImage()" />

                    <div class="d-flex flex-column align-items-center text-secondary m-3 p-1">
                      <div class="fs-4 d-flex align-items-center justify-content-center" style="width: 2.7rem; height: 2.7rem; border: 1px solid black; border-radius: 50%;">
                        <i class="bi bi-file-plus"></i>
                      </div>
                      <div class="fs-6 mt-1">Add Photos</div>
                      <div style="font-size: 0.8rem;">or drag and drop</div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-dark col-12 mt-3">Post</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="post-d mb-4 py-1 border border-dark-subtle rounded">
        <div class="post-header d-flex align-items-center py-1 px-2">
          <div class="post-d-profile-pic ms-2 me-3 my-1">
            <img src="{{ user.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
          </div>
          <div class="d-flex flex-column justify-content-center text-truncate">
            <div class="text-secondary-emphasis">{{ user.first_name }} {{ user.last_name }}</div>
            <div class="post-d-timestamp text-body-tertiary">11 Nov at 06:58 PM</div>
          </div>
        </div>
        <div class="post-material p-3">
          Hey this is the first post here (～￣▽￣)~<br /><br /><br />End of post boi
        </div>
        <div class="post-footer col-12">
          <div class="d-flex justify-content-between border-bottom text-secondary px-3 py-1 user-select-none">
            <div class="d-flex">
              <div class="ms-1 me-2">
                <i class="bi bi-heart-fill"></i>
                <span id="postLikedNum">12</span>
              </div>
              <div class="ms-1 me-2">
                <i class="bi bi-chat-square-text-fill"></i>
                <span id="postCommentsNum">2</span>
              </div>
              <div class="ms-1 me-2">
                <i class="bi bi-share-fill"></i>
                <span id="postSharedNum">3</span>
              </div>
            </div>
            <div class="d-flex">
              <div class="ms-1 me-2">
                <i class="bi bi-bookmark-fill"></i>
                <span id="postSavedNum">7</span>
              </div>
            </div>
          </div>
          <div class="post-interactions text-secondary">
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-heart"></i>
              <div class="d-none d-md-block ms-3 fs-6">Likes</div>
            </div>
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-chat-square-text"></i>
              <div class="d-none d-md-block ms-3 fs-6">Comments</div>
            </div>
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-share"></i>
              <div class="d-none d-md-block ms-3 fs-6">Share</div>
            </div>
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-bookmark"></i>
              <div class="d-none d-md-block ms-3 fs-6">Saved</div>
            </div>
          </div>

          <div class="post-comment-d d-flex align-items-center pt-2 pb-1 px-2 border-top">
            <div class="post-d-profile-pic ms-2 me-3 my-1">
              <img src="{{ user.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
            </div>
            <form class="col" method="POST" onsubmit="return addNewComment(this)">
              {% csrf_token %}
              {% comment %} <input type="hidden" class="post-id" value="1" /> <!-- Add your actual post ID here --> {% endcomment %}
              <input id="post-comment" class="col-12 px-3 border py-2" placeholder="Write your comment" required />
            </form>
          </div>

          <div class="new-posted-comments">
            <div class="posted-comments-item my-2 ps-1 pe-3">
              <div class="post-d-profile-pic ms-2 me-3 my-1">
                <img src="{{ user.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
              </div>
              <div class="posted-comment col py-1 px-2 bg-light border">Try commenting :)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="post-d mb-4 py-1 border border-dark-subtle rounded">
        <div class="post-header d-flex align-items-center py-1 px-2">
          <div class="post-d-profile-pic ms-2 me-3 my-1">
            <img src="{{ user.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
          </div>
          <div class="d-flex flex-column justify-content-center text-truncate">
            <div class="text-secondary-emphasis">{{ user.first_name }} {{ user.last_name }}</div>
            <div class="post-d-timestamp text-body-tertiary">11 Nov at 06:58 PM</div>
          </div>
        </div>
        <div class="post-material p-3">
          Hey this is the first post here (～￣▽￣)~<br /><br /><br />End of post boi
        </div>
        <div class="post-footer col-12">
          <div class="d-flex justify-content-between border-bottom text-secondary px-3 py-1 user-select-none">
            <div class="d-flex">
              <div class="ms-1 me-2">
                <i class="bi bi-heart-fill"></i>
                <span id="postLikedNum">12</span>
              </div>
              <div class="ms-1 me-2">
                <i class="bi bi-chat-square-text-fill"></i>
                <span id="postCommentsNum">2</span>
              </div>
              <div class="ms-1 me-2">
                <i class="bi bi-share-fill"></i>
                <span id="postSharedNum">3</span>
              </div>
            </div>
            <div class="d-flex">
              <div class="ms-1 me-2">
                <i class="bi bi-bookmark-fill"></i>
                <span id="postSavedNum">7</span>
              </div>
            </div>
          </div>
          <div class="post-interactions text-secondary">
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-heart"></i>
              <div class="d-none d-md-block ms-3 fs-6">Likes</div>
            </div>
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-chat-square-text"></i>
              <div class="d-none d-md-block ms-3 fs-6">Comments</div>
            </div>
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-share"></i>
              <div class="d-none d-md-block ms-3 fs-6">Share</div>
            </div>
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-bookmark"></i>
              <div class="d-none d-md-block ms-3 fs-6">Saved</div>
            </div>
          </div>

          <div class="post-comment-d d-flex align-items-center pt-2 pb-1 px-2 border-top">
            <div class="post-d-profile-pic ms-2 me-3 my-1">
              <img src="{{ user.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
            </div>
            <form class="col" method="POST" onsubmit="return addNewComment(this)">
              {% csrf_token %}
              {% comment %} <input type="hidden" class="post-id" value="1" /> <!-- Add your actual post ID here --> {% endcomment %}
              <input id="post-comment" class="col-12 px-3 border py-2" placeholder="Write your comment" required />
            </form>
          </div>

          <div class="new-posted-comments">
            <div class="posted-comments-item my-2 ps-1 pe-3">
              <div class="post-d-profile-pic ms-2 me-3 my-1">
                <img src="{{ user.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
              </div>
              <div class="posted-comment col py-1 px-2 bg-light border">Try commenting :)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="post-d mb-4 py-1 border border-dark-subtle rounded">
        <div class="post-header d-flex align-items-center py-1 px-2">
          <div class="post-d-profile-pic ms-2 me-3 my-1">
            <img src="{{ user.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
          </div>
          <div class="d-flex flex-column justify-content-center text-truncate">
            <div class="text-secondary-emphasis">{{ user.first_name }} {{ user.last_name }}</div>
            <div class="post-d-timestamp text-body-tertiary">11 Nov at 06:58 PM</div>
          </div>
        </div>
        <div class="post-material p-3">
          Hey this is the first post here (～￣▽￣)~<br /><br /><br />End of post boi
        </div>
        <div class="post-footer col-12">
          <div class="d-flex justify-content-between border-bottom text-secondary px-3 py-1 user-select-none">
            <div class="d-flex">
              <div class="ms-1 me-2">
                <i class="bi bi-heart-fill"></i>
                <span id="postLikedNum">12</span>
              </div>
              <div class="ms-1 me-2">
                <i class="bi bi-chat-square-text-fill"></i>
                <span id="postCommentsNum">2</span>
              </div>
              <div class="ms-1 me-2">
                <i class="bi bi-share-fill"></i>
                <span id="postSharedNum">3</span>
              </div>
            </div>
            <div class="d-flex">
              <div class="ms-1 me-2">
                <i class="bi bi-bookmark-fill"></i>
                <span id="postSavedNum">7</span>
              </div>
            </div>
          </div>
          <div class="post-interactions text-secondary">
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-heart"></i>
              <div class="d-none d-md-block ms-3 fs-6">Likes</div>
            </div>
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-chat-square-text"></i>
              <div class="d-none d-md-block ms-3 fs-6">Comments</div>
            </div>
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-share"></i>
              <div class="d-none d-md-block ms-3 fs-6">Share</div>
            </div>
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-bookmark"></i>
              <div class="d-none d-md-block ms-3 fs-6">Saved</div>
            </div>
          </div>

          <div class="post-comment-d d-flex align-items-center pt-2 pb-1 px-2 border-top">
            <div class="post-d-profile-pic ms-2 me-3 my-1">
              <img src="{{ user.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
            </div>
            <form class="col" method="POST" onsubmit="return addNewComment(this)">
              {% csrf_token %}
              {% comment %} <input type="hidden" class="post-id" value="1" /> <!-- Add your actual post ID here --> {% endcomment %}
              <input id="post-comment" class="col-12 px-3 border py-2" placeholder="Write your comment" required />
            </form>
          </div>

          <div class="new-posted-comments">
            <div class="posted-comments-item my-2 ps-1 pe-3">
              <div class="post-d-profile-pic ms-2 me-3 my-1">
                <img src="{{ user.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
              </div>
              <div class="posted-comment col py-1 px-2 bg-light border">Try commenting :)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="post-d mb-4 py-1 border border-dark-subtle rounded">
        <div class="post-header d-flex align-items-center py-1 px-2">
          <div class="post-d-profile-pic ms-2 me-3 my-1">
            <img src="{{ user.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
          </div>
          <div class="d-flex flex-column justify-content-center text-truncate">
            <div class="text-secondary-emphasis">{{ user.first_name }} {{ user.last_name }}</div>
            <div class="post-d-timestamp text-body-tertiary">11 Nov at 06:58 PM</div>
          </div>
        </div>
        <div class="post-material p-3">
          Hey this is the first post here (～￣▽￣)~<br /><br /><br />End of post boi
        </div>
        <div class="post-footer col-12">
          <div class="d-flex justify-content-between border-bottom text-secondary px-3 py-1 user-select-none">
            <div class="d-flex">
              <div class="ms-1 me-2">
                <i class="bi bi-heart-fill"></i>
                <span id="postLikedNum">12</span>
              </div>
              <div class="ms-1 me-2">
                <i class="bi bi-chat-square-text-fill"></i>
                <span id="postCommentsNum">2</span>
              </div>
              <div class="ms-1 me-2">
                <i class="bi bi-share-fill"></i>
                <span id="postSharedNum">3</span>
              </div>
            </div>
            <div class="d-flex">
              <div class="ms-1 me-2">
                <i class="bi bi-bookmark-fill"></i>
                <span id="postSavedNum">7</span>
              </div>
            </div>
          </div>
          <div class="post-interactions text-secondary">
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-heart"></i>
              <div class="d-none d-md-block ms-3 fs-6">Likes</div>
            </div>
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-chat-square-text"></i>
              <div class="d-none d-md-block ms-3 fs-6">Comments</div>
            </div>
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-share"></i>
              <div class="d-none d-md-block ms-3 fs-6">Share</div>
            </div>
            <div class="post-interaction-item col p-1 user-select-none">
              <i class="fs-5 m-1 bi bi-bookmark"></i>
              <div class="d-none d-md-block ms-3 fs-6">Saved</div>
            </div>
          </div>

          <div class="post-comment-d d-flex align-items-center pt-2 pb-1 px-2 border-top">
            <div class="post-d-profile-pic ms-2 me-3 my-1">
              <img src="{{ user.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
            </div>
            <form class="col" method="POST" onsubmit="return addNewComment(this)">
              {% csrf_token %}
              {% comment %} <input type="hidden" class="post-id" value="1" /> <!-- Add your actual post ID here --> {% endcomment %}
              <input id="post-comment" class="col-12 px-3 border py-2" placeholder="Write your comment" required />
            </form>
          </div>

          <div class="new-posted-comments">
            <div class="posted-comments-item my-2 ps-1 pe-3">
              <div class="post-d-profile-pic ms-2 me-3 my-1">
                <img src="{{ user.profile_picture.url }}" alt="poster profile picture" style="width: inherit;" />
              </div>
              <div class="posted-comment col py-1 px-2 bg-light border">Try commenting :)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="minisidebar-d border-start d-none col d-lg-block">
    <div class="minisidebar-event-d m-2 p-1">
      <div class="lead fw-bold mt-2 mb-3 px-3">Upcoming Events</div>
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="minisidebar-event-item col-11 mx-auto px-4 pt-1 pb-3 text-light rounded">
              <div class="mb-5">
                <div style="font-size: 3rem;">
                  07<span class="fs-6">Thursday</span>
                </div>
                <div class="fs-5">Dec 2024</div>
                <div class="fs-6">Timing: 12:00</div>
              </div>
              <div style="font-size: 0.9rem;">
                <span class="fw-semibold">Open House</span>
                by
                <span>Miss Anam</span>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="minisidebar-event-item col-11 mx-auto px-4 pt-1 pb-3 text-light rounded">
              <div class="mb-5">
                <div style="font-size: 3rem;">
                  25<span class="fs-6">Monday</span>
                </div>
                <div class="fs-5">Dec 2024</div>
                <div class="fs-6">Timing: 21:00</div>
              </div>
              <div style="font-size: 0.9rem;">
                <span class="fw-semibold">Christmas Party</span>
                by
                <span>Blaze Developers</span>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="minisidebar-event-item col-11 mx-auto px-4 py-5 text-light rounded">
              Follow society to keep your eyes on upcoming events
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
