{% extends 'BlazeApp/base.html' %}
{% load static %}

{% block title %}
  Blaze Search
{% endblock %}

{% block ExtraHeaders %}
  <link href="{% static 'BlazeApp/base2.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="content-d border border-top-0 border-bottom-0 border-end-0 col">
    <div class="bg-body-tertiary text-body-emphasis border rounded m-3" style="height: max-content;">
      <div class="fs-3 p-3" style="height: max-content;">Search Results 🌟</div>
      <div class="fs-6 px-3 pt-2 pb-3" style="height: max-content;">Explore the profile of the user(s) you were looking for. Connect, engage, and discover more about them. 🚀✨</div>
    </div>
    <div class="border text-body-emphasis p-3 mx-3 bg-body-secondary">
      <div class="fs-6">
        <span class="fw-semibold me-2">Searched query:</span> "{{ query }}"
      </div>
      <div class="fs-6">
        <span class="fw-semibold me-2">Total results found:</span>{{ user_instances.count }}
      </div>
    </div>
    <div class="d-flex flex-wrap flex-column border-dark m-2 px-2 pt-1 pb-5" style="min-height: 80vh; height: max-content;">
      {% if user_instances %}
        {% for user in user_instances %}
          <div class="border col-12 col-md-11 px-3 py-2 my-2" style="height: max-content;">
            <a href="{% url 'BlazeApp:profile' user.pk %}">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex">
                  <div class="d-flex justify-content-center align-items-center" style="width: 4.8rem; height: 4.8rem; border: 2px solid black; border-color: {{ user.ring_color }};border-radius: 50%; overflow: hidden; ">
                    <div style="width: 4rem; border-radius: 50%; overflow: hidden;">
                      <img src="{{ user.profile_picture.url }}" class="img-fluid" alt="profile picture" />
                    </div>
                  </div>
                  <div class="d-flex flex-column justify-content-center ms-4 text-body-emphasis">
                    <div class="fs-6 overflow-hidden">{{ user.first_name }} {{ user.last_name }}</div>
                    <div class="text-secondary" style="font-size: 0.9rem;">{{ user.get_user_type|title }}</div>
                  </div>
                </div>
                <div class="d-flex">
                  <a href="{% url 'BlazeApp:profile' user.pk %}"><button class="btn border btn-dark">View</button></a>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <div class="border rounded bg-body-tertiary text-body-emphasis col-11 m-4" style="height: max-content;">
          <div class="d-flex justify-content-center align-items-center flex-column my-2 p-3" style="height: max-content;">
            <div class="lead mt-2 mb-3">Oops! No Users Found 😕</div>
            <div class="fs-6 mb-2">Seems like our users are experts at hide and seek! 🕵️‍♂️ Don't worry, our search party is on the case, trying to coax them out. While we round up the friendly faces, why not check out some imaginary friends? They're great listeners! 🤖🤭</div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
