# Compiled Python files
*.pyc
_pycache_/

# secret files for keys
constants.py

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Local development settings
/.vscode/
.idea/
*.pydevproject

# Python virtual environments
venv/
.venv/
env/
.pipenv/

# Jupyter Notebook temporary files
.ipynb_checkpoints/

# Logs
*.log
logs/

# User-specific settings
/.env
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# Editor-specific files
*.sublime-project
*.sublime-workspace

credentials.py