/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    color: #393939;
}

.dark-btn {
    background-color: #393939;
    color: white;
    --bs-btn-hover-bg: #4f4f4f;
    --bs-btn-hover-color: white;
    --bs-btn-active-bg: #4f4f4f;
    --bs-btn-active-color: white;
}

a {
    text-decoration: none;
    color: #393939;
}

.navbar {
    top: 0;
    z-index: 100;
}

.nav-profile-d {
    height: 3.2rem;
    width: max-content;
}

.nav-profile {
    width: max-content;
    height: 3rem;
    border: none;
    border-radius: 5px;
    /* background-color: white; */
    outline: none;
    transition: 0.25s ease-in-out;
}

.nav-profile-pic {
    border-radius: 50%;
    overflow: hidden;
}

.nav-profile-pic-cover {
    border: 1px solid var(--bs-emphasis-color);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.nav-profile-pic>img {
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
}

.nav-profile-name {
    width: 9rem;
    font-size: 0.9rem;
}

.bg-scheme {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.bg-scheme:hover {
    --bs-bg: rgba(206, 212, 218, 0.1) !important;
    --bs-bg-hover: rgba(206, 212, 218, 0.3) !important;

    /* Apply default background color */
    background-color: var(--bs-bg);
    /* Add transition for a smooth hover effect */
    background-color: var(--bs-bg-hover);
}


.noti-btn {
    --bs-btn-hover-color: var(--bs-emphasis-color);
    --bs-btn-active-color: var(--bs-emphasis-color);
}

#noti-indicator {
    background: linear-gradient(to left bottom, #8100E6, #D175E0);
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    border-radius: 50%;
    right: 8px;
    top: 7px;
    border: 2px solid white;
    border-color: var(--bs-secondary-bg) !important;
    transition: 0.1s ease-in-out;
}

.side-panel-d {
    width: 15rem;
    max-height: calc(100vh - 75px);
    overflow: auto;
    position: sticky;
    top: 75px;
    z-index: 101;
}

/* width */
.side-panel-d::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

/* Track */
.side-panel-d::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.side-panel-d::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: black;
}

/* Handle on hover */
.side-panel-d::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}

.side-panel-item {
    height: 3rem;
    font-size: 1rem;
    transition: 0.15s ease-in-out;
    border: 1px solid transparent;
}

.side-panel-item:hover {
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: red !important;
}

.side-panel-item i {
    font-size: 1.7rem;
}

.content-d {
    height: max-content;
}

.notification-item {
    cursor: pointer;
    margin: 5px 0px;
}

.noti-read {
    background-color: #E9ECEF;
}

.noti-not-read {
    /* background-color: #F8F9FA; */
}



/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8100E6;
}