/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    color: #393939;
}

.dark-btn {
    background-color: #393939;
    color: white;
    --bs-btn-hover-bg: #4f4f4f;
    --bs-btn-hover-color: white;
    --bs-btn-active-bg: #4f4f4f;
    --bs-btn-active-color: white;
}

a {
    text-decoration: none;
    color: #393939;
}

.nav-profile-d {
    height: 3.2rem;
    width: max-content;
}

.nav-profile-d .dropdown-item:active {
    background-color: #393939;
}

.nav-profile {
    width: max-content;
    height: 3rem;
    border: 1px solid #E5E4E2;
    border-radius: 5px;
    background-color: white;
    outline: none;
    transition: 0.25s ease-in-out;
}

.nav-profile-pic {
    border-radius: 50%;
    overflow: hidden;
}

.nav-profile-pic-cover {
    border: 1px solid black;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.nav-profile-pic>img {
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
}

.nav-profile-name {
    width: 9rem;
    font-size: 0.9rem;
}

#noti-indicator {
    background: linear-gradient(to left bottom, #8100E6, #D175E0);
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    border-radius: 50%;
    right: 8px;
    top: 7px;
    border: 2px solid white;
    transition: 0.1s ease-in-out;
}

.noti-btn:hover #noti-indicator {
    border-color: #D3D4D5;
}

.side-panel-d {
    width: 15rem;
    height: 50rem;
    overflow: auto;
}

/* width */
.side-panel-d::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

/* Track */
.side-panel-d::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.side-panel-d::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: black;
}

/* Handle on hover */
.side-panel-d::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}

.side-panel-item {
    color: #393939;
    height: 3rem;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid transparent;
    transition: 0.15s ease-in-out;
}

.side-panel-item:hover {
    background-color: #F8F9FA;
    border: 1px solid lightgray;
}

.side-panel-item i {
    font-size: 1.7rem;
}

.content-d {
    height: max-content;
}