.create-post-d:hover {
    background-color: #F8F9FA;
}

.create-post-d {
    cursor: pointer;
}

.create-post {
    height: max-content;
}

.create-post-pp {
    width: 2.6rem;
    border-radius: 50%;
    height: 2.6rem;
    overflow: hidden;
}

.create-post-pp>img {
    width: inherit;
}

#post-content {
    outline: none;
    border: none;
    resize: none;
    overflow-y: hidden;
}

.post-image-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: max-content;
    background-color: brown;
}

.post-image-input input {
    cursor: pointer !important;
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
}

.post-d {
    height: max-content;
    overflow: hidden;
}

.post-header {
    height: 4rem;
}

.post-d-profile-pic {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    overflow: hidden;
}

.post-d-pic {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.post-d-pic img {
    width: 100%;
    height: auto;
    display: block;
}

.post-d-timestamp {
    font-size: 0.75rem;
}

.post-delete-d button::before {
    content: none!important;
}
.post-delete-d .dropdown-item:active {
    background-color: #393939;
    color: white!important;
}


.post-footer {
    /* border: 1px solid red; */
    height: max-content;
}

.dd1 {
    width: 33rem;
}

@media (max-width: 586px) {

    /* Adjust styles for screens smaller than 768 pixels */
    .dd1 {
        width: 100%;
        /* or another value suitable for smaller screens */
    }
}

.post-interactions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-interaction-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1rem; */
}

.post-interaction-item:hover {
    background-color: #F8F9FA;
    cursor: pointer;
}

.post-interaction-item span {
    font-size: 1.1rem;
    margin: 0px 10px 0px 3px;
}

#post-comment {
    height: 2.7rem;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #F8F9FA;
}


.minisidebar-d {
    position: sticky;
    top: 75px;
    max-height: calc(100vh - 75px);
    z-index: 10;
}

.minisidebar-event-d {
    height: max-content;
}

.minisidebar-event-item {
    height: max-content;
    background-image: linear-gradient(to bottom right, #8100E6, #D175E0);
}