.profile-header-d {
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.profile-picture-ring {
    height: 11rem;
    border: 4px solid #8100E6;
    width: 11rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
}

#profile-posts-d,
#profile-events-d #profile-saved-posts-d,
#profile-info-d {
    height: max-content;
}

#ps-pb,
#ps-eb,
#ps-sb,
#ps-ib {
    border-top: 2px solid transparent;
}

#ps-pb:hover,
#ps-ib:hover,
#ps-eb:hover,
#ps-sb:hover {
    border-top: 0.18rem solid transparent;
}

.show_status {
    border-top: 0.18rem solid var(--bs-emphasis-color) !important;
}

@media (min-width: 950px) {
    .ppd {
        width: 45%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .ppd {
        width: 31%;
        float: left;
    }
}