{% extends 'BlazeApp/base.html' %}
{% load static %}

{% block title %}
  Blaze - Change Password
{% endblock %}

{% block ExtraHeaders %}

{% endblock %}

{% block content %}
  <div class="content-d border border-top-0 border-bottom-0 border-end-0 col">

    <div class="bg-light-subtle text-body-emphasis border rounded my-3 p-2 col-11 col-md-10 col-lg-8 mx-auto"> 
        <div class="px-3 py-3">
            <div class="fs-5"> Password Change </div>
            <div class="alert alert-light m-1 p-2 border text-body-emphasis"role="alert" style="font-size: 0.8rem;">
                Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.
            </div>
            
    
            {% if form.errors %}
            <div class="dd3 my-2" style="border: none; font-size: 0.8rem;">
                <div class="alert alert-warning" role="alert">
                    {{ form.errors }} 
                </div>
            </div> 
            {% endif %}
            
            <div class="col-12 mb-2">
                <form method="post">
                    {% csrf_token %}
    
                    <div class="input-field">
                        {% if form.old_password.errors %}
                            <div class="alert alert-warning" style="font-size: 0.8rem;" role="alert">
                                {{ form.old_password.errors }}
                            </div>
                        {% endif %}
                        <div class="m-2">
                            {{ form.old_password.label_tag }}
                        </div>
                        <div class="rounded px-2 mt-2">
                            <input type="password" class="col-12" style="height: 2.5rem;" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" placeholder="Enter your old password">
                        </div>
                    </div>
    
                    <div class="input-field mt-3">
                        {% if form.new_password1.errors %}
                            <div class="alert alert-warning" style="font-size: 0.8rem;" role="alert">
                                {{ form.new_password1.errors }}
                            </div>
                        {% endif %}
                        <div class="mx-2">

                            {{ form.new_password1.label_tag }}
                        </div>
                        <div class="rounded px-2 mt-2">
                            <input type="password" class="col-12" style="height: 2.5rem;" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Enter your new password">
                        </div>
                        {% if form.new_password1.help_text %}
                        <div class="alert alert-light my-2" style="font-size: 0.8rem;" role="alert">
                            <div class="help"
                            {% if form.new_password1.id_for_label %} 
                            id="{{ form.new_password1.id_for_label }}_helptext"
                            {% endif %}>{{ form.new_password1.help_text|safe }}</div>
                        </div>
                        {% endif %}
                    </div>
                    
                    <div class="input-field">
                        {% if form.new_password2.errors %}
                            <div class="alert alert-warning" style="font-size: 0.8rem;" role="alert">
                                {{ form.new_password2.errors }}
                            </div>
                        {% endif %}
                        <div class="mx-2">
                            {{ form.new_password2.label_tag }}
                        </div>
                        <div class="input-div rounded px-2 mt-2">
                            <input type="password" class="col-12" style="height: 2.5rem;" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Again enter your new password">
                        </div>
                        {% if form.new_password2.help_text %}
                        <div class="alert alert-light my-2" style="font-size: 0.8rem;" role="alert">
                            <div class="help"{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                        </div>
                        {% endif %}
                    </div>
                    
                    <div class="mt-4">
                        <input type="submit" class="btn btn-dark border col-12" value="Change my password">
                    </div>
                
                </form>
            </div>
    
        </div>
    </div>

  </div>
{% endblock %}
